<%= link_to "Add a new Book", new_book_path, class: "pull-right btn btn-primary" %>
<h1>Pick a book to contribute</h1>
<% Book.all.each do |book| %>
  <div class="well">
    <h3><%= link_to book.title, book_path(book) %></h3>
    <p>
      <%= book.caption %>
    </p>
  </div>
<% end %>